################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/engine_gamemasters/FileContentIndex/0a04cd46-1e97-4a77-bcb3-607205a90592.vsidx
/.vs/engine_gamemasters/FileContentIndex/263be9ad-7d59-47fe-afd0-4a20313279c4.vsidx
/.vs/engine_gamemasters/FileContentIndex
/engine/.vs/engine/FileContentIndex
/engine/.vs/engine/v17/Browse.VC.opendb
